In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('toy_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Number   150000 non-null  int64
 1   City     150000 non-null  object
 2   Gender   150000 non-null  object
 3   Age      150000 non-null  int64
 4   Income   150000 non-null  float64
 5   Illness  150000 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 6.9+ MB

In [3]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [4]:
df = df.drop('Number', axis=1)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

y = df['Illness']
X = df.drop('Illness', axis=1)
X = pd.get_dummies(X, columns=['City', 'Gender'], drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

In [6]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=5)
model.fit(X_train, y_train)
pred = model.predict(X_test)
accuracy_score(y_test, pred)

0.84432

In [7]:
pickle.dump(model, open('model.pickle', 'wb'))

In [8]:
df['City'].unique()

array(['Dallas', 'New York City', 'Los Angeles', 'Mountain View',
       'Boston', 'Washington D.C.', 'San Diego', 'Austin'], dtype=object)